import { Elm } from "elm_board"

// array of elm apps and index of currently active one
var elm_apps = [];
var elm_active = 0;

// whether keys can be used to update board
// temporarily turned off while review in progress
var keys_active = true;

// setup the app(s), message handling, button controls and keyboard controls
$(function() {
  <% harnesses.each_with_index do |h, i| %>

  // elm app(s)
  elm_apps.push(Elm.Board.init({
    node: $('#elm-app-<%= i %>').get(0),
    flags: {
      bid: <%= i %>,
      fens: [
        <% h.fens.each do |fen| %>
          '<%= fen %>',
        <% end %>
      ],
      orientation: '<%= h.player %>',
      index: <%= h.index %>,
    },
  }));
  <% end %>

  // foreach app
  $.each(elm_apps, function(i, app) {
    // handle a state message (in response to a button click or keypress) coming out of an app
    app.ports.state.subscribe(function(state) {
      // update buttons
      $('#btn-' + state.bid + '-s').prop('disabled', state.start);
      $('#btn-' + state.bid + '-r').prop('disabled', state.reset);
      $('#btn-' + state.bid + '-p').prop('disabled', state.start);
      $('#btn-' + state.bid + '-n').prop('disabled', state.end);

      // update moves
      $('.em-' + state.bid).removeClass('current-move');
      $('#em-' + state.bid + '-' + state.index).addClass('current-move');

      // make this app the active one (for keypresses)
      elm_active = state.bid;
    });

    // handle error messages
    app.ports.error.subscribe(function(msg) {
      console.log(msg);
    });
  });

  // when button clicked, send message to app
  $('.elm-btn').on('click', function(e) {
    var m = $(e.target).attr('id').match(/-(\d+)-([nprs])/);
    var bid = parseInt(m[1]);
    var btn = m[2];
    elm_apps[bid].ports.updateIndex.send(btn);
  });

  // when move clicked, send message to app
  $('.elm-move').on('click', function(e) {
    var m = $(e.target).attr('id').match(/em-(\d+)-(\d+)/);
    var bid = parseInt(m[1]);
    var ind = m[2];
    elm_apps[bid].ports.updateIndex.send(ind);
  });

  // when certain keys pressed, send message to app
  $(window).keydown(function(e) {
    if (keys_active) {
      var app = elm_apps[elm_active];
      switch (e.keyCode) {
        case 39: // right arrow
        case 76: // 'l' for right
        case 78: // 'n' for next
          app.ports.updateIndex.send('n');
          break;
        case 37: // left arrow
        case 72: // 'h' for left
        case 80: // 'p' for previous
          app.ports.updateIndex.send('p');
          break;
        case 75: // 'k' for up
        case 82: // 'r' for restart
          app.ports.updateIndex.send('r');
          break;
        case 83: // 's' for start
        case 74: // 'j' for down
          app.ports.updateIndex.send('s');
          break;
      }
    }
  });

  // fire a reset at each app so that each responds with a state
  // update which, when handled (see above), will sort the buttons
  $.each(elm_apps, function(i, app) {
    app.ports.updateIndex.send('r');
  });
});
