:ruby
  inputs = [
    [:opening, t("position.opening"), :text, maxlength: Position::MAX_OPENING],
    [:var,     t("position.var"),     :text, maxlength: Position::MAX_OPENING],
    [:svar,    t("position.svar"),    :text, maxlength: Position::MAX_OPENING],
    [:ssvar,   t("position.ssvar"),   :text, maxlength: Position::MAX_OPENING],
    [:pgn,     t("position.pgn"),     :area],
  ]
= render "utils/crud/form", object: position, index: positions_path, inputs: inputs, title: title, center: center(xl: 8, lg: 10)
