- positions.matches.each do |position|
  %tr
    %td.text-center= link_to position.id, position, "data-turbo" => "false"
    %td= position.title
    %td= position.user.name
= render "utils/pagination/links", pager: positions, columns: 3
