$(function() {
  $('#answer').hide();
  $('#moves').hide();
  $('#buttons').hide();
  $('button.report').hide();
  keys_active = false;

  $('#show').click(function() {
    $('#show').hide();
    $('#modesty').hide();
    $('#answer').show();
    $('#moves').show();
    $('#buttons').show();
    $('button.report').show();
    elm_apps[elm_active].ports.updateIndex.send('n');
    keys_active = true;
  });

  $('button.report').click(function() {
    var quality = $(this).attr('data-quality');
    window.location.href = '/positions/review?pid=' + <%= pid %> + '&quality=' + quality;
  });
});
