:ruby
  set_meta_tags title: t("position.title")
  lo = Layout.new(
    sm: [[3,3]],
  ).to_a
  inputs = [
    [:opening, t("position.opening"), :text,   lo[0], autofocus: true],
    [:order,   t("order"),            :select, lo[1], menu: position_order_menu(params[:order])],
  ]

%section
  .header{class: "#{can?(:create, Position) ? '' : 'text-center'}"}
    %h3.d-inline= t("position.title")
    - if can?(:create, Position)
      .float-end.mt-1= link_to t("position.new"), new_position_path, class: "btn btn-primary btn-sm"
  .body{"data-turbo" => "true"}
    = render "utils/search/form", index: positions_path, inputs: inputs
    .row
      %div{class: center(xl: 6, lg: 8, md: 10, sm: 12)}
        = turbo_frame_tag :results, "data-turbo-action" => "advance" do
          %table.mt-4{class: "table table-bordered table-sm"}
            %thead
              %tr
                %th.text-center= "#"
                %th= t("position.opening")
                %th= t("position.author")
            %tbody
              = render "results", positions: @positions
