- set_meta_tags title: t("review.review")

- content_for :javascript do
  = render partial: "board", formats: :js, locals: { harnesses: [@position.harness] }
  = render partial: "review", formats: :js, locals: { pid: @position.id }

%section
  .header
    %h3= @title
  .body
    %div{class: center(xl: 4, lg: 6, md: 8, sm: 10)}
      %div{id: "elm-app-0"}
      .text-center#buttons
        %button.elm-btn{id: "btn-0-s"}= t("position.btn.start")
        %button.elm-btn{id: "btn-0-r"}= t("position.btn.reset")
        %button.elm-btn{id: "btn-0-p"}= t("position.btn.prev")
        %button.elm-btn{id: "btn-0-n"}= t("position.btn.next")
    .moves#moves= @position.harness.html
    .text-center.mt-3
      %button.btn.btn-sm.btn-success#show= t("review.reveal")
      - (0..5).each do |q|
        %button.btn.btn-sm.report{class: "btn-#{t("review.btn.class")[q]}", "data-quality" => q}
          = t("review.btn.text")[q]
  .footer
    = link_to t("review.retire"), retire_positions_path, class: "btn btn-sm btn-danger"
    - if can?(:edit, @position)
      = link_to t("edit"), edit_position_path(@position), class: "btn btn-primary btn-sm", target: "edit"
