:ruby
  set_meta_tags title: t("review.title")
  lo = Layout.new(
    md: [[2,2,2,2]],
    xs: [[3,3,3,3]],
  ).to_a
  inputs = [
    [:opening,  t("position.opening"), :text,   lo[0]],
    [:author,   t("position.author"),  :select, lo[1], menu: position_author_menu(params[:author])],
    [:type,     t("review.type"),      :select, lo[2], menu: test_order_menu(params[:type])],
    [:per_page, t("per_page"),         :select, lo[3], menu: tests_per_page_menu(params[:per_page])],
  ]

%section
  .header{class: "#{can?(:create, Position) ? '' : 'text-center'}"}
    %h3.d-inline= t("review.title")
  .body{"data-turbo" => "true"}
    = render "utils/search/form", index: select_positions_path, inputs: inputs
    .row
      %div{class: center(xl: 6, lg: 8, md: 10, sm: 12)}
        = turbo_frame_tag :results, "data-turbo-action" => "advance" do
          %table.mt-4{class: "table table-bordered table-sm"}
            %thead
              %tr
                %th= t("position.opening")
                %th= t("position.author")
            %tbody#results
              = render "selections", positions: @positions
  .footer
    = link_to t("review.review"), review_positions_path, class: "btn btn-success btn-sm"
