- set_meta_tags title: @position.title

- content_for :javascript do
  = render partial: "board", formats: :js, locals: { harnesses: [@position.harness] }

%section
  .header
    %h3.d-inline= @position.title
  .body
    .div{class: center(xl: 4, lg: 6, md: 8, sm: 10)}
      .div{id: "elm-app-0"}
      .text-center
        %button.elm-btn{id: "btn-0-s"}= t("position.btn.start")
        %button.elm-btn{id: "btn-0-r"}= t("position.btn.reset")
        %button.elm-btn{id: "btn-0-p"}= t("position.btn.prev")
        %button.elm-btn{id: "btn-0-n"}= t("position.btn.next")
    .moves= @position.harness.html

  .footer
    - if can?(:edit, @position)
      = link_to t("edit"), edit_position_path(@position), class: "btn btn-primary btn-sm"
      = link_to t("copy"), copy_position_path(@position), class: "btn btn-primary btn-sm"
    %span{"data-controller" => "clipboard"}
      %input.d-none{"data-clipboard-target" => "fen", type: "text", value: @position.fen, readonly: true}
      %button.btn.btn-success.btn-sm{"data-action" => "clipboard#copy"}= t("position.fen")
    = link_to t("position.title"), positions_path, class: "btn btn-success btn-sm"
