- set_meta_tags title: t("pages.test.title")

- content_for :javascript do
  = render partial: "positions/board", formats: :js, locals: { harnesses: @tests }

- @tests.each_with_index do |t, i|
  .row
    .div{class: center(xl: 4, lg: 6, md: 8, sm: 10)}
      .div{id: "elm-app-#{i}"}
      .text-center
        %button.elm-btn{id: "btn-#{i}-s"}= t("position.btn.start")
        %button.elm-btn{id: "btn-#{i}-r"}= t("position.btn.reset")
        %button.elm-btn{id: "btn-#{i}-p"}= t("position.btn.prev")
        %button.elm-btn{id: "btn-#{i}-n"}= t("position.btn.next")
      .moves.mb-3= t.html(i)
