// Bootstrap
@import "bootstrap"

// Navbar
nav
  @extend .navbar, .navbar-expand-md, .navbar-light, .bg-light, .border, .border-secondary, .rounded, .mb-3

  button
    @extend .navbar-toggler

    span
      @extend .navbar-toggler-icon

  #navbar
    &>ul
      @extend .navbar-nav

      &>li
        @extend .nav-item

        &>a
          @extend .nav-link

      &>li.dropdown
        &>ul
          &>li
            &>a
              @extend .dropdown-item

// Sections
section
  @extend .card, .border-secondary, .mb-4

  .header
    @extend .card-header

  .body
    @extend .card-body
    overflow: hidden

  .footer
    @extend .card-footer

// Crud forms
form.crud

  textarea
    @extend .font-monospace
    font-size: 0.9rem
    height: 100%

  div.field_with_errors
    label
      color: $red
    input[type="text"], input[type="password"], textarea, select
      background: lighten($pink, 40%)

// Flash notices. Note that, for dismissal, the class "alert" needs to be explicitly present in the HTML.
.flash
  text-align: center
  margin-top: -1rem
  margin-bottom: 1rem

  &.notice
    @extend .alert-success

  &.rails-alert
    @extend .alert-danger

// Pre's
pre
  @extend .border, .border-dark, .p-2

// Links
a
  @extend .text-decoration-none

// Chess board
svg.elm-board
  @extend .mb-3

button.elm-btn
  @extend .btn, .btn-outline-dark

div.moves
  @extend .mt-3

  .elm-move
    @extend .text-nowrap

  .comment
    color: $gray-600

  .current-move
    color: $light
    background-color: $dark
