%meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
%meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
= display_meta_tags site: t("title")
= csrf_meta_tags
= csp_meta_tag
= javascript_importmap_tags
- if content_for? :javascript
  %script{type: "module", nonce: content_security_policy_nonce}
    = yield :javascript
= stylesheet_link_tag "application", media: "all", "data-turbo-track" => "reload"

