%nav
  .container-fluid
    = link_to root_path, class: "navbar-brand" do
      = image_tag "logo.png", width: 30, height: 30, alt: "logo"
    %button{type: "button", "data-bs-toggle" => "collapse", "data-bs-target" => "#navbar"}
      %span
    #navbar.collapse.navbar-collapse
      %ul.me-auto
        - if can?(:select, Position)
          %li= link_to t("review.title"), select_positions_path
        - if can?(:read, Position)
          %li= link_to t("position.title"), positions_path
        - if current_user.admin?
          %li.dropdown
            = link_to t("user.admin"), "#", class: "dropdown-toggle", "data-bs-toggle" => "dropdown", role: "button"
            %ul.dropdown-menu
              %li= link_to t("user.users"), users_path
              %li= link_to t("pages.test.title"), test_path
              %li= link_to t("pages.env.title"), env_path
      %ul.ms-auto
        - unless controller_name == "sessions"
          - if current_user.guest?
            %li= link_to t("session.sign_in"), new_session_path
          - else
            %li{"data-turbo" => "true"}= link_to t("session.sign_out"), session_path, "data-turbo-method" => "delete"
